data/
*.ipynb_checkpoints
*.DS_Store
original_code/
launch.json
pipeline/config.json
pipeline/old_config.json
results/
runs/

#Ignore pycache
*.pyc
__pycache__/

#Ignore logging files
*.log

#Ignore plots
*.pdf
*.png

#Ignore notebooks in main folder
/*ipynb
